<header class="header">
    <div class="container header-container">
        <nav class="header-navigation nav-list">
            <a class="logo" href="./index.html">
                <svg class="logo-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-logo"></use>
                </svg>
                <svg class="logo-text" width="77" height="13">
                    <use href="./img/sprite.svg#icon-bookshelf"></use>
                </svg>
            </a>
            <ul class="header-nav-list" id="nav-menu">
                <li class="nav-item">
                    <a class="header-link nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item shop-item">
                    <a class="basket header-link nav-link" href="./shopping_list.html">
                        Shopping list
                        <span>
                            <svg class="icon-basket" width="20" height="20">
                                <use href="./img/sprite.svg#icon-shop"></use>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header-list">
            <div class="header-swich">
                <label id="switch" class="switch">
                    <input type="checkbox" id="theme-switch" />
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="header-link-log-up">
                <a class="acount-log-up" href="./reg_start.html">Sign up
                    <svg class="icon-log" width="20" height="20">
                        <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </a>
            </div>

            <div class="select-menu is-hidden">
                <div class="active-user-acc">
                    <a class="user-link" href="#">
                        <span class="user-img">
                            <svg class="user-non" width="19" height="19">
                                <use href="./img/sprite.svg#icon-reg_user"></use>
                            </svg>
                        </span>

                        <span class="user-name">Stephen</span>
                        <svg class="dropdown-icon" width="23" height="26">
                            <use href="./img/sprite.svg#icon-fi-ss-caret-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="options">
                    <div class="option">
                        <a class="log-out-menu-link" href="#">Log out
                            <svg class="icon-log-out" width="20" height="20">
                                <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <button class="mobile-menu-open-btn js-open-menu" data-mobile-menu-open>
                <svg class="mobile-menu-open-icon" width="28" height="28">
                    <use href="./img/sprite.svg#icon-align-left"></use>
                </svg>
            </button>
            <button class="mobile-menu-close-btn js-close-menu" data-mobile-menu-close>
                <svg class="mobile-menu-close-icon" width="28" height="28">
                    <use href="./img/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="mobile-menu js-menu-container" data-mobile-menu>
        <div class="container mobile-container">
            <div class="mobile-header-button">
                <a class="acount-log-up" href="./reg_start.html">Sign up
                    <svg class="icon-log" width="20" height="20">
                        <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </a>
            </div>

            <div class="mobile-active-acc is-hidden">
                <div class="mobile-active-user-acc">
                    <a class="mobile-user-link" href="#">
                        <span class="mobile-user-img">
                            <svg class="mobile-user-non" width="19" height="19">
                                <use href="./img/sprite.svg#icon-reg_user"></use>
                            </svg>
                        </span>

                        <span class="user-name">Stephen</span>
                    </a>


                    <div class="mobile-nav">
                        <ul class="mobile-nav-list">
                            <li class="mobile-nav-item">
                                <a class="mobile-header-link nav-link" href="./index.html">Home</a>
                            </li>
                            <li class="shop-item mobile-nav-item">
                                <a class="basket mobile-header-link nav-link" href="./shopping_list.html">
                                    Shopping list
                                    <span>
                                        <svg class="icon-basket" width="20" height="20">
                                            <use href="./img/sprite.svg#icon-shop"></use>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>


                <div class="mobile-log-out">
                    <a class="log-out-menu-link" href="#">Log out
                        <svg class="icon-log-out mobile-icon-log-out" width="20" height="20">
                            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>