<div class="card">
    <div class="wrap-title">
        <h2 class="title">Support Ukraine</h2>
        <svg class="icon" width="20" height="34">
            <use href="./img/sprite.svg#icon-gerb"></use>
        </svg>
    </div>
    <div class="list">
        <div class="additional-items" id="additionalItems1">
            <div class="list-item">
                <span>01</span>
                <a href="https://www.savethechildren.net/#" target="_blank">
                    <img class="number-icon" src="./img/save_the_children.png" alt="Save the Children" class="icon">
                </a>
            </div>
            <div class="list-item">
                <span>02</span>
                <a href="https://www.projecthope.org/" target="_blank">
                    <img class="number-icon" src="./img/hope.png" alt="Project HOPE" class="icon">
                </a>
            </div>
            <div class="list-item">
                <span>03</span>
                <a href="https://internationalmedicalcorps.org/" target="_blank">
                    <img class="number-icon" src="./img/united_24.png" alt="UNITED24" class="icon">
                </a>
            </div>
        </div>

        <div class="list-item">
            <span>04</span>
            <a href="https://www.razomforukraine.org/ua/homeua/" target="_blank">
                <img class="number-icon" src="./img/international_medical.png" alt="International Medical Corps"
                    class="icon">
            </a>
        </div>
        <div class="list-item">
            <span>05</span>
            <a href="https://www.actionagainsthunger.org/" target="_blank">
                <img class="number-icon" src="./img/medical.png" alt="Medicins Sans Frontieres" class="icon">
            </a>
        </div>
        <div class="list-item">
            <span>06</span>
            <a href="https://prytulafoundation.org/en" target="_blank">
                <img class="number-icon" src="./img/razom.png" alt="RAZOM" class="icon">
            </a>
        </div>

        <!-- Дополнительные пункты, изначально скрыты -->
        <div class="additional-items" id="additionalItems">
            <div class="list-item additional-item">
                <span>07</span>
                <a href="https://www.msf.org/" target="_blank">
                    <img class="number-icon" src="./img/action_against_hunger.png" alt="Action against hunger"
                        class="icon">
                </a>
            </div>
            <div class="list-item additional-item">
                <span>08</span>
                <a href="https://www.wvi.org/" target="_blank">
                    <img class="number-icon" src="./img/world_vision.png" alt="World vision" class="icon">
                </a>
            </div>
            <div class="list-item additional-item">
                <span>09</span>
                <a href="https://u24.gov.ua/uk" target="_blank">
                    <img class="number-icon" src="./img/sergiy_prytula.png" alt="Serhiy Prytula Charity Foundation"
                        class="icon">
                </a>
            </div>
        </div>



        <!-- Стрелочка для открытия/закрытия дополнительных пунктов -->
        <div class="expand-btn" onclick="toggleExpand()"><img class="slider-btn-support"
                src="/img/slider--btn-support.png" alt=""></div>
    </div>
</div>