<div class="card">
    <div class="wrap-title">
        <div class="title">Support Ukraine</div>
        <img class="main-icon" src="/img/main-icon.png" alt="иконка" class="icon">
    </div>
    <div class="list">
        <div class="additional-items" id="additionalItems1">
            <div class="list-item">
                <span>01</span>
                <a href="https://www.savethechildren.net/#" target="_blank">
                    <img class="number-icon" src="../img/icon1.svg" alt="Save the Children" class="icon">
                </a>
            </div>
            <div class="list-item">
                <span>02</span>
                <a href="https://www.projecthope.org/" target="_blank">
                    <img class="number-icon" src="../img/icon2.svg" alt="Project HOPE" class="icon">
                </a>
            </div>
            <div class="list-item">
                <span>03</span>
                <a href="https://internationalmedicalcorps.org/" target="_blank">
                    <img class="number-icon" src="../img/icon3.svg" alt="UNITED24" class="icon">
                </a>
            </div>
        </div>

        <div class="list-item">
            <span>04</span>
            <a href="https://www.razomforukraine.org/ua/homeua/" target="_blank">
                <img class="number-icon" src="../img/icon4.svg" alt="International Medical Corps" class="icon">
            </a>
        </div>
        <div class="list-item">
            <span>05</span>
            <a href="https://www.actionagainsthunger.org/" target="_blank">
                <img class="number-icon" src="../img/icon5.svg" alt="Medicins Sans Frontieres" class="icon">
            </a>
        </div>
        <div class="list-item">
            <span>06</span>
            <a href="https://prytulafoundation.org/en" target="_blank">
                <img class="number-icon" src="../img/icon6.svg" alt="RAZOM" class="icon">
            </a>
        </div>

        <!-- Дополнительные пункты, изначально скрыты -->
        <div class="additional-items" id="additionalItems">
            <div class="list-item additional-item">
                <span>07</span>
                <a href="https://www.msf.org/" target="_blank">
                    <img class="number-icon" src="../img/icon7.svg" alt="Action against hunger" class="icon">
                </a>
            </div>
            <div class="list-item additional-item">
                <span>08</span>
                <a href="https://www.wvi.org/" target="_blank">
                    <img class="number-icon" src="../img/icon8.svg" alt="World vision" class="icon">
                </a>
            </div>
            <div class="list-item additional-item">
                <span>09</span>
                <a href="https://u24.gov.ua/uk" target="_blank">
                    <img class="number-icon" src="../img/icon8-new.svg" alt="Serhiy Prytula Charity Foundation"
                        class="icon">
                </a>
            </div>
        </div>

        <!-- Стрелочка для открытия/закрытия дополнительных пунктов -->
        <div class="expand-btn" onclick="toggleExpand()"><img class="slider-btn-support"
                src="/img/slider--btn-support.png" alt=""></div>
    </div>
</div>

<script src="/js/suport.js"></script>