.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    transition: background-color 0.5s;
}

.back-to-top:hover {
    background-color: rgba(79, 46, 232, 0.30);
}

.back-to-top__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 54px;
    height: 54px;
    background-color: var(--hover-color);
    border-radius: 30px;
    border: none;
}

.back-to-top__svg {
    fill: var(--white);
}