:root {
    --night: #202024;
    --day: #FFF;
    --dark: #111;
    --white: #FFFFFF;
    --active-color: #EAC645;
    --hover-color: #4F2EE8;
}


body {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    color: #FFF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 24px;
        max-width: 1440px;
    }
}