button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
    border: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 300;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px 24px;
    width: 335px;
    border-radius: 18px;
    border: 2px solid var(--border-modal-form);
    background: var(--bg-modal-form);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 579px;
        min-height: 465px;
        padding: 40px 44px 40px 40px;
    }
}


.mdl-btn-icon-x {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: transparent;
    background: var(--btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .mdl-btn-icon-x {
        top: 24px;
        right: 24px;
        width: 28px;
        height: 28px;
    }
}



.mdl-icon-x {
    stroke: var(--fill-icon);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mdl-icon-x {
        width: 28px;
        height: 28px;
    }
}


.mdl-icon-x:hover,
.mdl-icon-x:focus,
.mdl-icon-x:active {
    stroke: var(--btn-hover-bg);
}


.mdl-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 44px;
}


@media screen and (min-width: 768px) {
    .mdl-list {
        flex-direction: row;
        gap: 24px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 768px) {
    .mdl-book-img {
        width: 192px;
        height: 281px;
    }
}


.mdl-book-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: var(--info-book);
}

@media screen and (min-width: 768px) {
    .mdl-book-name {
        margin-bottom: 8px;
        width: 277px;
    }
}

.mdl-book-author {
    color: var(--autor);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.56px;
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .mdl-book-author {
        margin-bottom: 20px;
    }
}

.mdl-book-info {
    color: var(--info-book);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.56px;
    max-width: 287px;
}

@media screen and (min-width: 768px) {
    .mdl-book-info {
        max-width: 279px;
    }
}

.mdl-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
}

@media screen and (min-width: 768px) {
    .mdl-link-list {
        margin-top: 20px;
    }
}

.mdl-logo-amazon {
    filter: var(--filter-amazon);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-logo-book {
    filter: var(--filter-book);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-logo-amazon:hover,
.mdl-logo-amazon:focus,
.mdl-logo-amazon:active {
    filter: var(--filter-amazon) var(--filter-hover);
}

.mdl-logo-book:hover,
.mdl-logo-book:focus,
.mdl-logo-book:active {
    filter: var(--filter-book) var(--filter-hover);
}

.mdl-main-btn {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid var(--btn-border);
    background: var(--bg-modal-form);
    color: var(--info-book);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mdl-main-btn {
        width: 499px;
        padding: 20px 0px;
        font-size: 18px;
        letter-spacing: -0.14px;
        line-height: 1.3;
    }
}

.mdl-main-btn:hover {
    color: var(--bnt-hover-text);
    background-color: var(--btn-hover-bg);
}


.confirmation-text {
    color: var(--subtext-btn-sing-up-modal-form);
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.4px;
    width: 242px;
    margin: 0 auto;
    margin-top: 8px;
}

@media screen and (min-width: 768px) {
    .confirmation-text {
        width: 324px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: -0.48px;
    }
}