.shopping-title {
  color: var(--best-sellers-text-title-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}

@media only screen and (min-width: 768px) {
  .shopping-title {
    width: 292px;
    height: 52px;

  }
}

.shooping-title-text {
  color: #4F2EE8;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}

.shopping-box {
  position: relative;
  display: flex;
  width: 335px;
  height: 170px;
  margin-top: 40px;
  border-radius: 16px;
  border: 2px solid var(---border);
  background: var(--background);
}

@media only screen and (min-width: 768px) {
  .shopping-box {
    width: 704px;
    height: 213px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-box {
    width: 996px;
    height: 213px;
  }
}

.shopping-box:nth-child(3) {
  margin-top: 20px;
}

.shopping-box:nth-child(4) {
  margin-top: 20px;
}

.shopping-box:nth-child(5) {
  margin-top: 20px;
}

.shopping-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}

.shopping-item {
  display: flex;
  width: 335px;
  height: 170px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.40);
  background: #FFF;
}

.shopping-book-img {
  padding-top: 14px;
  padding-left: 14px;
}

@media only screen and (min-width: 768px) {
  .shopping-book-img {
    padding-left: 24px;
    padding-top: 24px;
  }
}

.shopping-genre-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .shopping-genre-img {
    width: 116px;
    height: 165px;
  }
}

.shopping-book-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 14px;
  margin-left: 14px;
}

@media only screen and (min-width: 768px) {
  .shopping-book-info {
    margin-top: 24px;
    margin-left: 24px;
  }
}

.shopping-remove {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F2EE8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping-book-title {
  color: var(--best-sellers-text-title-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  width: 144px;
    height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shopping-book-category {
  padding-top: 4px;
  color: #B4AFAF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36px;
  width: 165px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shopping-book-discription {
  color: var(--best-sellers-text-title-color);
  padding-top: 8px;
 width: 193px;
 height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .shopping-book-discription {
    padding-top: 14px;
    min-width: 508px;
    min-height: 53px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-book-discription {
    min-width: 808px;
    min-height: 53px;
  }
}

.shopping-book-author {
  padding-top: 16px;
  color: #B4AFAF;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

@media only screen and (min-width: 768px) {
  .shopping-book-author {
    padding-top: 48px;
  }
}

.shopping-remove-btn {
  top: 14px;
  right: 14px;
  position: absolute;
  border-color: #4F2EE8;
  width: 28px;
  height: 28px;
  background-color: #4F2EE8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .shopping-remove-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
}

@media only screen and (min-width: 768px) {
  .remove-btn {
    width: 18px;
    height: 18px;
  }
}

.shopping-default-text {
  color: var(--primery-text);
  width: 244px;
  height: 36px;
  margin-top: 120px;
  margin-left: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media only screen and (min-width: 768px) {
  .shopping-default-text {
    margin-top: 140px;
    margin-left: 178px;
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-default-text {
    margin-left: 201px;

  }
}

.shopping-default-img {
  margin-top: 14px;
  margin-left: 35px;
  width: 265px;
  height: 198px;
}

@media only screen and (min-width: 768px) {
  .shopping-default-img {
    width: 332px;
    height: 241px;
    margin-top: 20px;
    margin-left: 192px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-default-img {
    margin-left: 228px;
  }
}

.img__src-amazon {
  position: absolute;
  right: 38px;
  bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .img__src-amazon {
    right: 68px;
    bottom: 30px;
  }
}

.mdl-logo-amazon {
  width: 32px;
  height: 11px;
  filter: var(--filter-amazon);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mdl-logo-amazon {
    width: 48px;
    height: 14px;
  }
}

.mdl-logo-book {
  width: 16px;
  height: 16px;
  filter: var(--filter-book);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .mdl-logo-book {
    width: 28px;
    height: 27px;
  }
}

.img__src-books {
  position: absolute;
  right: 14px;
  bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .img__src-books {
    right: 24px;
    bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .main.container {
    display: grid;
    grid-template-columns: 356px 996px;
  }

  .shopping-container {
    grid-column: 2;
  }

  .card {
    grid-row: 1;
  }

}