/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./components.css');
@import url('./header.css');
@import url('./shooping_list.css');
.shooping-container {

}
.shopping-title {
  color: #111;
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
}
.shooping-title-text {
  color: #4F2EE8;
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
}
.shopping-list {
  display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
}
.shopping-item {
  width: 335px;
  height: 170px;
  border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.40);
    background:#FFF;
}
.shopping-genre-img {
 margin-left: 14px;
 margin-top: 14px;
    border-radius: 8px;
}