.card {
  max-width: 335px;
  height: 460px;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
  border-radius: 16px;
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
  padding: 28px 102px 72px 40px;
}

.title {
  color: #FFF;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.88px;
  margin-right: 11px;
}

.wrap-title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;

}

.main-icon {
  width: 20px;
  height: 32px;
}

.slider-btn-support {
  max-width: 32px;
  margin: 0 auto;
  margin-top: 20px;
}

.expand-btn {}

.icon {
  /* стили для иконки */
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: start;
}


.list-item span {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-right: 16px;
}

.additional-items {
  display: none;
  /* Изначально скрыты */
}

.additional-items {
  display: flex;
  flex-direction: column
}

@media screen and (min-width: 768px) {
  .card {
    width: 335px;
    height: 474px;
  }
}

@media screen and (min-width: 1440px) {}