.card {

  width: 332px;
  height: 484px;

  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
  border-radius: 16px;
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
  padding: 28px 102px 72px 40px;
}

.title {
  color: #FFF;

  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  letter-spacing: -0.96px;




}

.wrap-title {
  display: flex;

  gap: 12px;
  margin-bottom: 30px;
}

.slider-btn-support {
  max-width: 32px;
  margin: 0 auto;


}

.slider-btn-support {
  max-width: 32px;
  margin: 0 auto;
  margin-top: 20px;
}

.expand-btn {}

.icon {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.list-item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

}


.list-item span {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-right: 16px;
}

.additional-items {
  display: none;
  /* Изначально скрыты */
}

.additional-items {
  display: flex;
  flex-direction: column
}

@media screen and (min-width: 768px) {
  .card {
    width: 335px;
    height: 474px;
  }
}

@media screen and (min-width: 1440px) {}